﻿@model Employees.Models.EmployeesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Employee", FormMethod.Post, new { @class = "col-sm-12 form-employees", @id = "form-employees" }))
{
    <div class="row">
        <div class="form-group col-sm-6 col-md-3 col-lg-3" id="dniFiltro">
            @Html.LabelFor(m => m.id)
            @Html.TextBoxFor(m => m.id, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.id, "", new { @class = "form-text text-danger" })
        </div>
        <div class="form-group col-sm-4 col-md-2">
            <button type="submit" class="btn btn-primary btn-block" style="margin-top:25px">Get Employees</button>
        </div>
    </div>
}
<hr />

<table class="table" id="tabla-datos">

    @if (Model.employees != null)
    {
        foreach (var item in Model.employees)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(x => item.name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => item.contractTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => item.roleId)
                </th>
                <th>
                    @Html.DisplayNameFor(x => item.roleName)
                </th>
                <th>
                    @Html.DisplayNameFor(x => item.roleDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(x => item.hourlySalary)
                </th>
                <th>
                    @Html.DisplayNameFor(x => item.monthlySalary)
                </th>
                <th>
                    @Html.DisplayNameFor(x => item.annualSalary)
                </th>
                <th></th>
            </tr>
            break;
        }

        foreach (var item in Model.employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contractTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hourlySalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.monthlySalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.annualSalary)
                </td>
                <td>
                    @Html.ActionLink("- Details -", "Details", new { id = item.id })
                </td>
            </tr>
        }
    }
</table>
